{% extends "layout.html" %}

{% block title %}
    User Profile & Account
{% endblock title %}
{% block main %}
{% include "farewell.html" ignore missing %}
    {% if change == true %}
    <!--Shows confirmation of changes-->
    <div class="alert alert-success alert-dismissable show fade" role="alert">
        <div>
            <strong>Deal, friend!</strong> Your information has been updated.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endif %}
<div class="d-flex align-self-center row row-cols-1 row-cols-md-3 px-5 g-5 merri px-2" style="padding-top: 10vh;">
    <!--Name and Title-->
    <div class="col d-flex justify-content-center">
        <div class="card tr-black" style="min-width: 15rem; max-width: 20rem;">
            <div class="card-header darkbar text-white p-0"><h5 class="card-title my-1 blackshadow">Adventurer's Tag</h5></div>
            <div class="card-body d-flex align-items-center justify-content-center paperbody">
                <form action="profile" method="POST">
                    <!--Name-->
                    <div class="form-group">
                        <input type="text" autocomplete="off" class="form-control" name="nickname" value="{{ nickname }}" placeholder="Adventurer's Name">
                    </div>
                    <p></p>
                    <!--Title-->
                    <div class="form-group">
                        <input type="text" autocomplete="off" class="form-control" name="usertitle" value="{{ title }}" placeholder="Adventurer's Title (e.g.: Master/Lady/Lord of...)">
                    </div>
                    <p></p>
                    <div class="form-group">
                        <button class="btn btn-red btn-outline col text-nowrap" type="submit">Confirm changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Picture-->
    <div class="col d-flex justify-content-center">
        <div class="card h-100 tr-black" style="min-width: 15rem; max-width: 20rem;">
            <div class="card-header darkbar text-white p-0"><h5 class="card-title my-1 blackshadow">Profile Picture</h5></div>
            <div class="card-body paperbody">
                <form action="{{ url_for('picture') }}" method="POST" enctype="multipart/form-data">
                <img class="avatar" src="data:image/png;base64,{{ avatar_img }}" alt="IMG">
                <div class="card-body">
                    <div class="form-group">
                        {{ form.hidden_tag() }}
                        <!-- Works on: IE 10+, Edge (EdgeHTML), Edge (Chromium), Chrome, Firefox 42+ -->
                        {{ form.file(class="btn btn-light btn-sm col-12 mb-3", accept=".jpg, .jpeg, .png") }}
                    </div>
                    {{ form.submit(class="btn btn-red btn-outline col") }}
                </div>
                </form>
            </div>
        </div>
    </div>
    <!--Password-->
    <div class="col d-flex justify-content-center">
        <div class="card tr-black" style="min-width: 15rem; max-width: 20rem;">
            <div class="card-header darkbar text-white p-0"><h5 class="card-title my-1 blackshadow">Change Password</h5></div>
            <div class="card-body paperbody d-flex align-items-center justify-content-center">
                <form action="/account" method="POST">
                    <!--New password-->
                    <div class="form-group d-flex">
                        <input class="form-control" name="new_password" placeholder="New password" type="password">
                    </div>
                    <p></p>
                    <!--Confirmation of new password-->
                    <div class="form-group">
                        <input class="form-control" name="confirmation" placeholder="Confirm new password" type="password">
                    </div>
                    <p></p>
                    <button class="btn btn-red btn-outline no-wrap" type="submit">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center py-3 mx-auto">
    <button id="myoldfriend" class="btn btn-farewell btn-outline merri" type="button" data-bs-toggle="modal" data-bs-target="#farewellModal">Bid Farewell</button>
</div>
<div id="hellodarkness"></div>
<!-- Import JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Calls lights off effect on farewell button hover (works only on large screens) -->
<script>
    $('#myoldfriend').hover(function(){
        $('#hellodarkness').fadeTo(200, 0.9);
    }, function(){
        $('#hellodarkness').fadeTo(400, 0, function(){
            $(this).hide();
        });
    });
</script>
{% endblock main %}