{% for quest in quests %}
{% include "deletequest.html" ignore missing %}
<div class="accordion accordion-flush mb-3" id="accordion_main">
    <div class="accordion-item">
        <h2 class="accordion-header m-0" id='ah{{ quest["id"] }}'>
        {% if quest['done'] == true %}
        <button class="accordion-button collapsed fs-5 quest qdone p-2" type="button" data-bs-toggle="collapse" data-bs-target='#ab{{ quest["id"] }}' aria-expanded="true" aria-controls='ab{{ quest["id"] }}'>
        {% else %}
        <button class="accordion-button collapsed fs-5 quest qopen p-2" type="button" data-bs-toggle="collapse" data-bs-target='#ab{{ quest["id"] }}' aria-expanded="true" aria-controls='ab{{ quest["id"] }}'>
        {% endif %}
        <img src="/static/questsample.jpg" style="max-height: 3rem;" class="imgborder"><text class="carving">&nbsp;{{ quest['title'] }}</text>

        </button>
        </h2>
        {% include "quest.html" ignore missing %}
    </div>
</div>
{% endfor %}
