{% extends "layout.html" %}

{% block title %}
    Edit Quest
{% endblock %}
{% block main %}
<!-- Modal -->
<div class="modal fade merri" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <form class="modal-dialog modal-dialog-centered" action="/editquest/{{ questinfo['id'] }}" method="POST" id="editquest-form" autocomplete="off" enctype="multipart/form-data">
    <div class="modal-content tr-full">
      <!-- Header -->
      <div class="modal-header justify-content-start d-flex align-items-center darkbar p-2" style="background-color: rgb(255, 255, 255);">
        {% if questinfo['icon'] == None %}
        <img class="icon mx-2" src="/static/questicon.jpg" alt="IMG">
        {% else %}
        <img class="icon mx-2" src="data:image/png;base64,{{ questinfo['icon'] }}" alt="IMG">
        {% endif %} 
        <h5 class="modal-title text-white blackshadow" id="editquestModalLabel">&nbsp;Edit Quest</h5>
      </div>
      <!-- Body -->
      <div class="modal-body paperbody">
      <!-- Icon -->
      <div class="form d-flex flex-column mb-3">
        <label class="text-start text-black column col-6" for="quest-edit-name">Icon:</label>
        {{ form.hidden_tag() }}
        <!-- Works on: IE 10+, Edge (EdgeHTML), Edge (Chromium), Chrome, Firefox 42+ -->
        {{ form.file(class="btn btn-light btn-sm col-12", accept=".jpg, .jpeg, .png") }}
      </div>
        <!-- Name -->
        <div class="form d-flex flex-column mb-3">
          <label class="text-start text-black" for="quest-edit-name">Title:</label>
          <input value="{{ questinfo['title'] }}" type="text" class="form-control" name="quest-edit-name" id="quest-edit-name" required>
        </div>
        <!-- Description-->
        <div class="form d-flex flex-column mb-3">
          <label class="text-start text-black" for="quest-edit-text">Description:</label>
          <textarea style="white-space: pre-wrap;" type="text" class="form-control" name="quest-edit-text" id="quest-edit-text" required>{{ questinfo['description'] }}</textarea>
        </div>
        <!-- Reward -->
        <div class="form d-flex flex-column mb-3">
            <label class="text-start text-black" for="quest-edit-prize">Reward (Optional):</label>
            <input value="{{ questinfo['reward'] }}" type="text" class="form-control" name="quest-edit-prize" id="quest-edit-prize">
        </div>
      </div>
      <!-- Buttons -->
      <div class="modal-footer darkbottom">
          <!-- Nevermind -->
          <a href="/"><button type="button" class="btn btn-black btn-outline">Nevermind</button></a>
          <!-- Save Quest -->
          <button type="submit" class="btn btn-green btn-outline">Save it!</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}