{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}

{% block main %}
<div class="d-flex flex-md-row flex-column mt-5 gap-3 w-100 ">
    <!--LEFT COLUMN-->
    <!--User Info Card-->
    <div class="column col-4 d-flex flex-column">
        <div class="d-md-block d-flex justify-content-center px-md-5 mb-3 mx-100">
            <div class="card paperbody border-dark darkborder">
                <img src="data:image/png;base64,{{ avatar_img }}" class="avatar" alt="avatar">
                <h5 class="card-title merri fw-bold m-2" style="color: #331a00;"><b>{{ name }}</b></h5>
                <p class="card-text merri mx-3 mb-2" style="color: #331a00;"><i>{{ title }}</i></p>
            </div>
        </div>
        <!--Quest Statistics Card-->
        <div class="column col-4 px-md-5 mx-100 w-100">
            <div class="card px-4 darkbottom darkborder text-center text-white blackshadow merri no-wrap" style="line-height:2;">
                <span>&nbsp;Open Quests:&nbsp;<b class="text-pale bigger">{{ oquests }}</b></span>
                <span>&nbsp;Completed Quests: &nbsp;<b class="text-warning bigger">{{ cquests }}</b></span>
                <hr class="m-0">
                <span class="glow">&nbsp;Total Quests: &nbsp;<b class="bigger">{{ totalquests }}</b></span>
            </div>
        </div>
    </div>
    <!--RIGHT COLUMN-->
    <!--New Quest Modal-->
    {% include "newquest.html" ignore missing %}
    <div class="col pb-3 pe-md-5 ps-md-0 px-2">
        <!--Quests Navbar-->
        <nav class="d-flex navbar navbar-expand-sm darkbar navbar-dark merri mb-3 p-0">
            <div class="container-fluid">
                <!--Open Modal for New Quest-->
                <div class="col-4">
                    <button type="button" class="btn d-flex col-4 justify-content-start tr-full newquest p-0">
                        <a class="navbar-brand tr-full" aria-current="page" data-bs-toggle="modal" data-bs-target="#newquestModal" data-bs-whatever="New Quest"><b class="text-warning mt-0 mb-0">!</b> &nbsp;New Quest</a>
                    </button>
                </div>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Search Form-->
                <div class="d-sm-flex flex-row col-4 navbar-collapse collapse" id="navbarNavAltMarkup">
                    <a class="btn hidden refresh" href="/"><img src="/static/arrow.png" style="max-height: 25px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"></a>
                    <form action="search" method="GET" class="mx-0 w-75">
                        <input name="q" type="text" class="form-control mw-100 p-1 btn-outline lightwood placeholder-brown" autocomplete="off" placeholder="&nbsp;Search quests">
                        <button class="d-none btn btn-light>" type="submit"></button>
                    </form>
                </div>
                <!--Quest Filters-->
                <div class="d-sm-flex col-4 justify-content-end navbar-collapse collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link nav-quest-selector link-light" id="allquests" href="/">All</a>
                        <a class="nav-link nav-quest-selector link-light" id="compquests" href="/quests/done">Complete</a>
                        <a class="nav-link nav-quest-selector link-light" id="openquests" href="/quests/open">Open</a>
                    </div>
                </div>
            </div>
        </nav>
        {% if status == "done" %}
            {% include "done.html" ignore missing %}
        {% elif status == "open" %}
            {% include "open.html" ignore missing %}
        {% else %}
            {% include "all.html" ignore missing %}
        {% endif %}
    </div>
</div>

<script>
// Changes Navbar links' active filters
var elmts = document.querySelectorAll(".nav-quest-selector");
var status = JSON.parse('{{ status|tojson }}');

elmts.forEach(function (elmt){
    elmt.classList.remove("active")
});


elmts.forEach(function (elmt){

    if( status === "done" && elmt.id === "compquests") {
        elmt.classList.add("active");
    }
    if( status=== "open" && elmt.id === "openquests") {
        elmt.classList.add("active");
    }
    if( status === "all" && elmt.id === "allquests") {
        elmt.classList.add("active");
    }

});
</script>
{% endblock main %}