<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!--https://getbootstrap.com/docs/5.1/-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!--https://icons.getbootstrap.com/-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">

        <!--Merriweather font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">

        <!--favicon-->
        <link href="/static/favicon.ico" rel="icon">

        <!--import styles-->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
        <!--<link href="/static/styles.css" rel="stylesheet">-->

        <title>Chillin' Quest: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="container-custom">
            <div>
                <!--LARGE SCREEN CONFIG-->
                <nav class="d-md-flex justify-content-between m-0 row navbar bg-transparent d-none px-md-5">
                    <div class="col-4">
                        <audio id="playMusic" src="/static/feet_on_the_road.mp3" preload="auto">
                        </audio>
                        <i class="playButton btn btn-sm btn-play darkbottom text-white bi bi-music-note-beamed" onClick="togglePlay()"></i>
                        <button class="btn btn-sm btn-play darkbottom" onclick="document.getElementById('playMusic').volume -= 0.1"><i class="bi text-white bi-dash-lg"></i></button>
                        <button class="btn btn-sm btn-play darkbottom" onclick="document.getElementById('playMusic').volume += 0.1"><i class="bi text-white bi-plus-lg"></i></button> 
                    </div>
                    <div class="d-flex col-4 justify-content-center">
                        <!--Logo-->
                        <a href="/"><img src="/static/logo.png" width="300px" height="77px"></a>
                    </div>
                    {% if session.user_id %}
                    <ul class="nav col-4 justify-content-end align-self-end merri px-0">
                        <li class="nav-item"><a class="btn btn-sm btn-red btn-outline rounded m-1" href="/account">Profile & Account</a></li>
                        <li class="nav-item"><a class="btn btn-sm btn-red btn-outline rounded m-1" href="/logout">Log Out</a></li>
                    </ul>
                    {% else %}
                        <div class="col-4"></div>
                    {% endif %}
                </nav>
                <!--SMALL SCREEN CONFIG-->
                <nav class="d-flex m-0 row navbar bg-transparent d-md-none pb-0 merri">
                    <div class="d-flex flex-row justify-content-center">
                        <!--Logo-->
                        <a href="/"><img src="/static/logo.png" width="300px" height="77px"></a>
                    </div>
                    {% if session.user_id %}
                    <ul class="nav flex-row justify-content-center align-self-end p-0">
                        <li class="nav-item"><a class="btn btn-red m-1" href="/account">Profile & Account</a></li>
                        <li class="nav-item"><a class="btn btn-red m-1" href="/logout">Log Out</a></li>
                    </ul>
                    {% else %}
                        <div class="col-3"></div>
                    {% endif %}
                    <div class="text-center mt-3">
                        <audio id="playMusic" src="/static/feet_on_the_road.mp3" preload="auto">
                        </audio>
                        <i class="playButton btn mx-3 darkbottom text-white bi bi-music-note-beamed" onClick="togglePlay()"></i>
                        <button class="btn mx-3 darkbottom" onclick="document.getElementById('playMusic').volume -= 0.1"><i class="bi text-white bi-dash-lg"></i></button>
                        <button class="btn mx-3 darkbottom" onclick="document.getElementById('playMusic').volume += 0.1"><i class="bi text-white bi-plus-lg"></i></button> 
                    </div>
                </nav>
            </div>
            <div>
                <main class="container-fluid px-0 pb-3" style="overflow-x: hidden;">
                    {% block main %}{% endblock %}
                </main>
            </div>
        </div>
        <!-- Import Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    <script>
        // Enable soundtrack
        var playMusic = document.getElementById("playMusic");
        var isPlaying = false;

        function togglePlay() {
        isPlaying ? playMusic.pause() : playMusic.play();
        };

        playMusic.onplaying = function() {
        isPlaying = true;
        document.getElementById("playMusic").loop = true;
        localStorage.setItem("isPlaying", isPlaying);
        let playButtons = document.querySelectorAll(".playButton");
        playButtons.forEach(playButton => {
            if (playButton.classList.contains("text-white")){
                playButton.classList.remove("text-white")
                playButton.classList.add("text-warning")
            }
        });
        };

        playMusic.onpause = function() {
        isPlaying = false;
        localStorage.setItem("isPlaying", isPlaying);
        let playButtons = document.querySelectorAll(".playButton");
        playButtons.forEach(playButton => {
            if (playButton.classList.contains("text-warning")){
                playButton.classList.remove("text-warning")
                playButton.classList.add("text-white")
            }
        });
        };

        // Calls several functions on page load
        window.onload = function(){
            // Edit quest modal
            var modalEditElmt = document.getElementById('editModal') ? document.getElementById('editModal') : null;
            if(modalEditElmt !== null) {
                var modalEdit = new window.bootstrap.Modal(modalEditElmt, {});
                modalEdit.show();
            }

            // Error handler modal
            var modalErrorElmt = document.getElementById('errorModal') ? document.getElementById('errorModal') : null;
            if(modalErrorElmt !== null) {
                var modalError = new window.bootstrap.Modal(modalErrorElmt, {});
                modalError.show();
            }

            // Mouseover icons tooltips
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new window.bootstrap.Tooltip(tooltipTriggerEl);
            });
            
            // Keep soundtrack playing
            var playMusic = document.getElementById("playMusic");
            if (localStorage.getItem("isPlaying") === "true"){
                playMusic.currentTime = parseFloat(localStorage.getItem("currentTime"));
                playMusic.volume = parseFloat(localStorage.getItem("volume"))
                playMusic.play();
            }
        };
        // Keeps track of song current time upon leaving a page
        window.onunload = function(){
            if (localStorage.getItem("isPlaying") === "true"){
                localStorage.setItem("currentTime", document.getElementById("playMusic").currentTime);
                localStorage.setItem("volume", document.getElementById("playMusic").volume);
            }
            else {
                localStorage.setItem("currentTime", 0);
            }
        }
    </script>
</html>