{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="POST" id="form-gen">
        <!--Username-->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <!--Password-->
        <div class="mb-3">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <!--Confirmation of password-->
        <div class="mb-3">
            <input class="form-control" name="confirmation" placeholder="Confirm your password" type="password">
        </div>
        <button class="btn btn-red btn-outline merri" type="submit">Register</button>
    </form>
{% endblock %}
